<div align="center">
  <%if board.present? %>
    <table cellspacing="2" width="200px" id="game_board" border="1px">
    <% board&.each do |row| %>
    <tr>
      <% row&.each do |row_val| %>
      <td align="center"><img src="images/covered_tile.png" alt="" border=3 height=30 width=30 value="<%= row_val %>"></img></td>
      <% end %>
    </tr>
    <% end %>
    </table>
  <%end%>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var table = document.getElementById("game_board");
    var cells = table.getElementsByTagName("td"); //
    setTotalCells(cells);
    for(var i = 0; i < cells.length; i++){
        // Cell Object
        var cell = cells[i];
        // Track with onclick
        cell.onclick = function(){
            img = this.getElementsByTagName('img')[0];
            img_val = img.getAttribute('value');
            checkWinStatus(cells, img_val);
            if (img_val == '0'){
              revealNeighbours(); // TODO reveal other neighbours
              this.innerHTML = ""; // Set null value in td
            }
            else if(img_val == '1' || img_val == '2' || img_val == '3' || img_val == '4' || img_val == '5' || img_val == '6' || img_val == '7' || img_val == '8'){
              this.innerHTML = img_val; // Set value on image to the td
            }
            else if(img_val == 'x'){
              // Reset timer
              resetTimer();
              document.getElementById("seconds").innerHTML='00';
              document.getElementById("minutes").innerHTML='00';
              //
              $('#gameOver').val(true);
              document.getElementById("lost").innerHTML='Sorry ! You lost, please start a new game'; // Lost message
              this.innerHTML = "<img src='images/mine_blown.jpg' alt='' border=3 height=30 width=30></img>" // Set clicked mine to blown
              revealAllMines(cells); // Reveal all other mines on the booard
            }
        };
        cell.oncontextmenu = function (){
          this.innerHTML = "<img src='images/flag.png' alt='' border=3 height=30 width=30 value='flagged'></img>" // Set clicked mine to blown
          return false;
        }
    }
  });
</script>
