<div class="col-md-12" >
<%=  form_for @game, url: games_path(format: :js), method: 'post', remote: true do |f| %>
   <div style="margin-left: 100px;">
    <h3>Select game mode </h5>
    <table cellspacing="0" cellpadding="2" id="options" class="dialog" style="display: table;table-layout: fixed">
          <tbody><tr class="dialog-title">
            <td colspan="3" style="padding: 3px; text-align: right;">
            </td>
          </tr>
          <tr class="dialog-bar">
            <td></td>
            <td>Height</td>
            <td>Width</td>
            <td>Mines</td>
          </tr>
          <tr>
            <td><label><%= radio_button_tag "difficulty", 'beginner', 'beginner' %><%= label_tag "Beginner" %></label></td>
            <td>9</td>
            <td>9</td>
            <td>10</td>
          </tr>
          <tr>
            <td><label><%= radio_button_tag "difficulty", 'intermediate' %><%= label_tag "Intermediate" %></label></td>
            <td>16</td>
            <td>16</td>
            <td>40</td>
          </tr>
          <tr>
            <td><label><%= radio_button_tag "difficulty", 'expert' %><%= label_tag "Expert" %></label></td>
            <td>16</td>
            <td>30</td>
            <td>99</td>
          </tr>
          <tr>
            <td><label><%= radio_button_tag "difficulty", 'custom' %><%= label_tag "custom" %></td>
            <td><%= f.text_field :height, required: true, class: 'form-control', value: '20'  %></td>
            <td><%= f.text_field :width, required: true, class: 'form-control', value: '30'  %></td>
            <td><%= f.text_field :mines, required: true, class: 'form-control', value: '145'  %></td>
          </tr>
          <tr class="dialog-bar">
            <td><input type="submit" value="New Game" style="vertical-align: middle;" onclick="startTimer();"></td>
            <td><%= button_tag "Controls", :type => 'button', :class => "subBtn", id: 'controls' %></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Timer: <span id="minutes">00</span>:<span id="seconds">00</span></td>
          </tr>
        </tbody>
      </table>
      <div align="center" style="margin-right: 75px;"><strong><span id="lost"></span></strong></div>
      <input id="remainingCells" type="hidden" name="" value="0" >
      <input id="totalCells" type="hidden" name="" value="">
      <input id="gameOver" type="hidden" name="" value="false">
<%end %>
</div>
<div id="dialog_controls" title="Controls">
  <table cellspacing="0" cellpadding="2" id="controls" class="dialog" style="display: table;">
        <tbody>
          <tr class="dialog-title">
          <td>Controls</td>
        </tr>
        <tr>
          <td style="padding: 6px;"><strong>Desktop</strong></td>
          <td style="padding: 6px;">
            <ul>
              <li><b>Left-click</b> an empty square to reveal it.</li>
              <li><b>Right-click</b> (or <b>Ctrl+click</b>) an empty square to flag it.</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
</div>



<script>
  $( function() {
    $( "#dialog_controls" ).dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
    });

    $( "#controls" ).on( "click", function() {
      $( "#dialog_controls" ).dialog( "open" );
    });
  } );
  </script>
