<% content_for :head do %>
  <%= javascript_include_tag('game_manager', 'data-turbolinks-track': 'reload') %>
<% end %>
<h1 align='center'>Welcome to MineSweeper </h1>
<%= render partial: 'games/start_menu' %>
<div id="board">
  <%= render partial: "new", locals: {board: @board} %>
</div>
